<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button defaultHref='/tabs/home' icon="undefined" text=""  class="backbutton"></ion-back-button>
   </ion-buttons>
    <ion-title>{{'Volunteer'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="mainbg">
<ion-row>
     <ion-col col-12>
	 <div class="volunteer">
	 <h2>{{'volunteer_menu' | translate}}</h2>
	 <p>{{'volunteer_with_us_desc' | translate}}</p>
   <a style="color:#fff;text-decoration:none;" class="newvolunteer" target="_blank" rel="noopener noreferrer" href="https://safecity.in/volunteer-activities/">{{'Volunteer'  | translate}}</a>
   <!-- <h5>Visit our Website to Apply</h5> -->
	 </div>
	 </ion-col>
   </ion-row>
</div>
</ion-content>
