<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button defaultHref='/ipc' icon="undefined" text=""  class="backbutton"></ion-back-button>
 
  </ion-buttons>
    <ion-title><div class="ion-text-wrap">Online Harassment 
</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mainareain">
<ion-row >
      <ion-col size="12">
	  <div class="newlogic" >
	  <div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">Which sections of the law address this crime?</h2>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Online Stalking - Section 354D of the IPC </h4>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Defamation (remarks on social media, obscene images or videos posted for public consumption) - Section 499 of the IPC</h4>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Intimidating a woman by anonymous communication - Section 507 of the IPC</h4>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Posting lewd comments against the will of a woman/requesting sexual favours (Sexual Harassment) - Section 354A of the IPC</h4>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Transmitting / publishing obscene material in an electronic form - Information Technology Act, 2000 (IT Act) (Section 67) </h4> 
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Publishing an image of a person in print/electronic form resulting in a violation of the privacy of the individual - Information Technology Act, 2000 (IT Act) (Section 66E) </h4> </div>
<div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;"> How is stalking defined under the IPC?</h2>
<p style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px"> Section 354D of the IPC criminalises stalking of a woman by a man. It defines the Act to include continuous following or contacting a woman by a man or attempts to contact a woman to build a personal relationship with that woman even when the woman has shown a clear lack of interest. It also includes acts of monitoring a woman’s electronic communication, i.e. communication over emails, social media etc.</p></div>
<div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;"> When is stalking not considered a crime?</h2>
<p style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px"> Stalking is not considered a crime if it is done as a legal duty for prevention and detection of crime by the State or under any legal duty imposed by a law in practise or in a situation where such an act of stalking is seen as reasonable and justified.</p></div>
<div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">What is the punishment?</h2>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Online Stalking - During the first conviction, imprisonment may extend to 3 years and fine, during second/subsequent conviction, imprisonment upto 5 years and fine</h4> 
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Defamation (remarks on social media, obscene images or videos posted for public consumption) - Imprisonment upto 2 years</h4>
 <h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Intimidating a woman by anonymous communication - Imprisonment upto 2 years</h4> 
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Posting lewd comments against the will of a woman/requesting sexual favours (Sexual Harassment) - Imprisonment upto 3 years and fine</h4>
 <h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px; background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">Publishing an image of a person in print/electronic form resulting in a violation of the privacy of the individual - Imprisonment upto 3 years and fine</h4> </div>
<div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;"> <h5 style="width:100%;height:auto;float:left;font-size:16px;color:#292020;">information visit : <span style="color:#1343C4;font-size:16px;">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span> </h5> </div>

</div>	
		<!-- <div class="newtext"> -->
<!-- <h2>Which sections of the law address this crime?</h2> -->
<!-- <h4>Online Stalking - Section 354D of the IPC </h4> -->
<!-- <h4>Defamation (remarks on social media, obscene images or videos posted for public consumption) - Section 499 of the IPC</h4> -->
<!-- <h4>Intimidating a woman by anonymous communication - Section 507 of the IPC</h4> -->
<!-- <h4>Posting lewd comments against the will of a woman/requesting sexual favours (Sexual Harassment) - Section 354A of the IPC</h4> -->
<!-- <h4>Transmitting / publishing obscene material in an electronic form - Information Technology Act, 2000 (IT Act) (Section 67) </h4>    -->
<!-- <h4>Publishing an image of a person in print/electronic form resulting in a violation of the privacy of the individual - Information Technology Act, 2000 (IT Act) (Section 66E) -->
 <!-- </h4>   -->
   <!-- </div> -->
   <!-- <div class="newtext"> -->
<!-- <h2> How is stalking defined under the IPC?</h2> -->
<!-- <p> Section 354D of the IPC criminalises stalking of a woman by a man. It defines the Act to include continuous following or contacting a woman by a man or attempts to contact a woman to build a personal relationship with that woman even when the woman has shown a clear lack of interest. It also includes acts of monitoring a woman’s electronic communication, i.e. communication over emails, social media etc. -->
<!-- </p> -->
   <!-- </div> -->
   <!-- <div class="newtext"> -->
<!-- <h2> When is stalking not considered a crime?</h2> -->
<!-- <p> Stalking is not considered a crime if it is done as a legal duty for prevention and detection of crime by the State or under any legal duty imposed by a law in practise or in a situation where such an act of stalking is seen as reasonable and justified. -->
<!-- </p> -->
   <!-- </div> -->
   <!-- <div class="newtext"> -->
<!-- <h2>What is the punishment?</h2> -->
<!-- <h4>Online Stalking - During the first conviction, imprisonment may extend to 3 years and fine, during second/subsequent conviction, imprisonment upto 5 years and fine</h4> -->
 <!-- <h4>Defamation (remarks on social media, obscene images or videos posted for public consumption) - Imprisonment upto 2 years</h4>  -->
 <!-- <h4>Intimidating a woman by anonymous communication - Imprisonment upto 2 years</h4>  -->
  <!-- <h4>Posting lewd comments against the will of a woman/requesting sexual favours (Sexual Harassment) - Imprisonment upto 3 years and fine</h4>  -->
  <!-- <h4>Publishing an image of a person in print/electronic form resulting in a violation of the privacy of the individual - Imprisonment upto 3 years and fine</h4>    -->
   <!-- </div> -->
    <!-- <div class="newtext"> -->
   <!-- <h5>information visit : <span class="newlink">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span> -->
<!-- </h5> -->
<!-- </div> -->
   
    </ion-col>
   </ion-row>
   </div>
</ion-content>