.header-md ion-toolbar {
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 4px;
    --padding-end: 4px;
    --min-height: 45px;
}

.socialimgin {
    width: 100%;
    margin: 0 auto 15px;
    text-align: center;
    cursor: pointer;
}

.newsocialin {
    padding: 0 15px;
}

.socialimgin p {
    width: 100%;
    color: #292020;
    font-size: 10px;
    margin: 0;
}

.socialbtnin {
    border-top: 1px solid #E1D8EB;
    width: 100%;
    margin: 5px auto 0;
    text-align: center;
}

.socbtn {
    color: #592D8D;
    font-size: 18px;
    font-weight: 500;
    text-transform: inherit;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
}

ion-title {
    color: #292020;
    font-size: 16px;
    font-weight: 400;
}