<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
   <!-- <ion-buttons slot="start" > -->
   <!-- <ion-back-button defaultHref='/reportfiledeleven' icon="undefined" text=""  class="backbutton"></ion-back-button> -->
   <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="mainareain">
<ion-row >
      <ion-col size="12">
<div class="newtext">
<h4>Thank you for submitting<br> your report!</h4>
<div class="newicon">
 <ion-fab-button >
    <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
</div>
<p>By sharing your experience with us, you are helping prevent 3 others from experiencing something similar.<br><br> If you have 5-7 minutes, we would like to know more about the incident to understand other factors that play a role in sexual violence. By answering a few questions, you will help us build safer cities.</p>
  </div>
    </ion-col>
   </ion-row>
     <div class="bottom">
<ion-row>
     <ion-col col-12>
	 <ion-button expand="full" shape="round"  class="newbtnyes" >YES, I WANT TO HELP</ion-button>
<ion-button expand="full" shape="round"  class="newbtn" (click)="help()">NO, I WOULD LIKE TO EXIT</ion-button>
  </ion-col>
   </ion-row>
</div>
   </div>
 
</ion-content>
