<!-- <ion-header> -->
  <!-- <ion-toolbar> -->
    <!-- <ion-title>safteytip_thankyou</ion-title> -->
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content>
  <div class="mainthankin">
  <ion-row >
        <ion-col size="12">
  <div class="thankintextin">
  
  <div class="newiconsafe">
   <ion-fab-button >
      <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
  </div>
  <p>{{'safety_thank_you_desc' | translate }}</p>
    </div>
      </ion-col>
     </ion-row>
    
     </div>
  </ion-content>
     <div class="sideline">
  <ion-row>
       <ion-col col-12>
     <!-- <ion-button expand="full" shape="round" class="newbtnyes" (click)="view()">VIEW SAFETY TIPS</ion-button> -->
  <ion-button expand="full" shape="round"  class="newbtn" (click)="home()">{{'button_go_home' | translate }}</ion-button>
    </ion-col>
     </ion-row>
  </div>