<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref='/ipc' icon="undefined" text="" class="backbutton"></ion-back-button>

      </ion-buttons>
      <ion-title>
         <div class="ion-text-wrap">Human Trafficking </div>
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <div class="mainareain">
      <ion-row>
         <ion-col size="12">
            <!-- <div class="newtext"> -->
            <!-- <h2>Which sections of the law address this crime? </h2> -->
            <!-- <h4>Human Trafficking - Section 370 and 370A of the IPC -->
            <!-- </h4> -->
            <!-- </div> -->
            <!-- <div class="newtext"> -->
            <!-- <h2> How is human trafficking defined under the IPC?</h2> -->
            <!-- <p> Section 370 of the IPC defines human trafficking as the action or practice of transporting people illegally or without their consent across areas mainly to be used in the labour or commercial sex industry. The Immoral Traffic (Prevention) Act, 1956 is the law regulating human trafficking in India. -->
            <!-- </p> -->

            <!-- </div> -->

            <!-- <div class="newtext"> -->
            <!-- <h2> What is the punishment under the IPC?</h2> -->
            <!-- <p> Imprisonment from 7 years to life -->

            <!-- </p> -->
            <!-- </div> -->

            <!-- <div class="newtext"> -->
            <!-- <h5>information visit : <span class="newlink">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span> -->
            <!-- </h5> -->
            <!-- </div> -->
            <div class="newlogic">
               <div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
                  <h2
                     style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">
                     Which sections of the law address this crime? </h2>
                  <h4
                     style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px;">
                     Human Trafficking - Section 370 and 370A of the IPC</h4>
               </div>
               <div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
                  <h2
                     style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">
                     How is human trafficking defined under the IPC?</h2>
                  <p style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px">
                     Section 370 of the IPC defines human trafficking as the action or practice of transporting people
                     illegally or without their consent across areas mainly to be used in the labour or commercial sex
                     industry. The Immoral Traffic (Prevention) Act, 1956 is the law regulating human trafficking in
                     India.</p>
               </div>
               <div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
                  <h2
                     style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">
                     What is the punishment under the IPC?</h2>
                  <p> Imprisonment from 7 years to life</p>
               </div>
               <div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
                  <h5 style="width:100%;height:auto;float:left;font-size:16px;color:#292020;">information visit : <span
                        style="color:#1343C4;font-size:16px;">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span>
                  </h5>
               </div>
            </div>
         </ion-col>
      </ion-row>
   </div>


</ion-content>