<ion-header translucent>
  <ion-toolbar>
    <ion-back-button defaultHref='/home' icon="undefined" text=""  class="backbutton"></ion-back-button>
    <ion-title>New Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mainareain">
<ion-row>
      <ion-col size="12" >
<div class="newtext">
<p>When you share your experience, it helps us identify patterns and hold authorities accountable. It helps us create safer spaces.<br><br> We understand it is difficult to recall one’s traumatic experiences. If you feel uncomfortable at any time, know that you can exit. If you have not hit the submit button, your data will not be saved.</p>

</div>
<div class="bottom">
<ion-row>
     <ion-col col-12>
<ion-button expand="full" shape="round"  class="newbtn" (click)="preframing()" >NEXT</ion-button>
  </ion-col>
   </ion-row>
</div>
   </ion-col>
   </ion-row>
   </div>
</ion-content>
