


<ion-content>
<div class="mainarea">
<ion-row>
      <ion-col size="12" >
<img src="assets/images/icons/logo.svg"/>
</ion-col>
   </ion-row>
  
</div>
<div class="mainareain">
<ion-row >
      <ion-col size="12" >
<div class="newtexton">
<!-- <h4>You can help by sharing your story!</h4> -->
<p>{{'together_we_can_fight' | translate}}<br><br> {{'this_is_not_sos_service' | translate}}</p>

	  <ion-list>
  <ion-item >
 {{'increase_public_accountability' | translate}}
  </ion-item>
   <ion-item >
{{'increase_resource_allocated' | translate}}
  </ion-item>
  <ion-item >
{{'push_for_policy_change' | translate}}
  </ion-item>

</ion-list>
<p class="lastline">{{'do_it_for_you' | translate}}</p>
</div>

   </ion-col>
   </ion-row>
   </div>
 
</ion-content>

<div class="bottom">
<ion-row>
     <ion-col col-12>

<ion-button expand="full" shape="round"  class="newbtn"  (click)="home()">{{'button_done'  | translate}}</ion-button>
  </ion-col>
   </ion-row>
</div>
 