<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button defaultHref='/menu' icon="undefined" text=""  class="backbutton"></ion-back-button>
   </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="mainbg">
<ion-row>

     <ion-col col-12 >
	 <div class="newprivacy" [innerHTML]="content">
	</div>
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;color:#220E0E;margin-bottom:20px;">1. Introduction</h1> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> This Privacy Policy sets out the basis on which any personal data and other information we collect from you or other sources or that you provide to us (“<b>Information</b>”) will be handled by us in connection with your access and use of the Safecity mobile and web application.We understand the importance you, as a user of our application, place on the Information provided to us, and we are committed to protecting and respecting your privacy. Please read the following carefully to understand our practices regarding your Information. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">By using our Mobile and Web Application, you agree to the handling of your Information in accordance with this Privacy Policy. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;">References in this Privacy Policy to “<b>we</b>”, “<b>our</b>” or “<b>us</b>” (or similar) are references to Red Dot Foundation Global, a not-for-profit organization registered in the United States under license number EIN 82 - 1206435, with its office located at 5217 Lightning View Road, Columbia, Maryland, 21045 in the United States. References to “user” or “you” (or similar) are references to you as an individual or legal entity as the case may be.</p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">2. Safecity mobile and web application data collection and use</h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h4 style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;">information we may collect from you if you are reporting using our mobile and web application.</h4> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> We may collect and process the following personal information about you.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(a) Your age; but if you report that you are under 18, you will not be able to enter information on the app because we only collect information from adults. Except that your attempt to create a report, will be kept as a part of our data. </p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(b) Your gender;</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">We may collect and process the following non-personal information about you.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;"> (a) general, demographic and non-personal Information through your incident report.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;"> (b) details about your location if you choose to access help information and your mobile device, including a unique identifier for your device, and any location you provide in your report; </p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;"> (c) details about your device, including operating system and browser type can be captured by Google analytics </p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(d) any other Information we consider necessary to facilitate your experience on the Mobile and Web Application but only if it furthers the purposes of mapping incidents or conducting research. </p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">3. Use of your information reported through our mobile and web application</h1> <div class="newtext">  -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> We may use Information you have provided in your report in the following ways:</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(a) We use your Information to generate anonymous, de-identified data for research purposes.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(b) We use the location information you provide to generate maps of incidents you report. </p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(c) We may use any additional information you provide to help you use the support services contained in the Mobile and Web Application. You will have an opportunity to delete this information from your mobile device once you have finished using the support services. </p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">4. Disclosure of your information </h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> When you decide to make a report about an incident, you will only be asked to provide anonymous information about yourself and the information about the incident. We use information collected from all reporters to generate aggregate, de-identified data for research purposes. The resulting data from this process is our data. </p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(a) Using our data, we have the right to compile, combine, collect, copy, modify, reuse and repurpose, publish and use this data for analytical and other business purposes.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(b) Our data is also available as an open source research repository for groups that wish to conduct a study using our data.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(c) Any group wishing to use our data are required to register with us, request to use the data, provide a statement regarding purpose of using our data, and make assurances that they will adhere to our consent, privacy, confidentiality and data storage and security policies before they are given access to our data. </p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">5. Information we may collect from you if you seek assistance through our mobile and web application</h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> If you seek the following additional services, we may collect additional information to provide the information you request.</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(a) Information you provide us, or that we may collect from you, when you report a problem with our Mobile and Web Application;</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(b) a record of correspondence if you contact us;</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(c) details about your location and your mobile device, including a unique identifier for your device if you are seeking to get additional location information; </p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(d) details about your computer, including (where available) your IP address, operating system and browser type, as well as information about your general internet usage (e.g., by using technology that stores information on or gains access to your device, such as tracking pixels, web beacons etc.) and</p> -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:20px;">(e) any other Information we consider necessary to enhance your experience on the Mobile and Web Application. </p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">6. SSpecific research studies</h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:0;"> From time to time we may launch research studies using either the Mobile Application or the Web Application. These studies will have their own informed consent, confidentiality and privacy protections that will be contained in the study recruitment. You are not obligated to participate in any study. You must opt-in to any study to be considered.</p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">7. Required disclosure of information </h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;line-height:24px;font-weight:400;margin-bottom:5px !important; margin-top:0 !important;padding-left:0;"> We may be compelled to release information when we believe such a release is appropriate and necessary to comply with the law and law enforcement investigations and to protect the rights, property or safety of our company, our users or others. However, this does not include selling, renting, sharing, or otherwise disclosing information set forth in this Privacy Policy.</p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;"> -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">8. Storage of your information</h1> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> We store information gathered from our Mobile and Web Application in the same database and the information gathered from our website in a different database.</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> The Information that we collect from you is stored in the United States and if you are outside of the United States, such Information will be transferred from your location to our servers in the United States. You hereby expressly consent to such transfer of your Information to our servers in the United States.</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> The Information that we may collect from you may also be processed by our staff and volunteers operating outside of the United States. Such staff may be engaged in, among other things, the management of the Mobile and Web Application and the provision of support services. Such staff will process Information in accordance with this Privacy Policy.</p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">9. Security</h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> We take reasonable steps to ensure that your Information is treated securely and in accordance with this Privacy Policy. We may, for example, use encryption technology to secure your Information during transmission to our Mobile and Web Application as well as external firewall and on-host firewall technology to prevent network level attacks. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> If you complete an incident report, it is important for you to not to provide overly detailed descriptions of the incident. Very detailed reports may increase the likelihood of you being identified despite our efforts to keep the anonymous information you reported from being identified. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your Information, we cannot guarantee the security of your Information transmitted to our Mobile Application; any transmission is at your own risk. </p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;"> -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">10. Accessing and amending your information gathered from our mobile and web application</h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;"> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> It would be extremely unlikely that you are able to identify your information as erroneous data from the anonymous data you provide and/or the aggregate data that we maintain, and therefore, we can only provide limited access for you to correct data that you believe is wrong and we may not be able to accommodate your request.</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others or would be extremely impractical (for instance, requests concerning information residing on backup systems).</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> If your Information has been aggregated and/or de identified, it may be next to impossible to remove your data from the whole. If you want to have your information removed, you must contact us. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> Where we can provide Information access and correction, we will charge you a fee of £10 to meet our costs in providing you with details of the information we hold about you. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> We aim to maintain our Mobile and Web Application in a manner that protects Information from accidental or malicious destruction and for future research purposes. Because of this, we may not immediately delete residual copies from our active servers, may not remove Information from our backup systems, and may keep information for research purposes. Research conducted using this data will be evaluated according to the guidelines in 6.1 of this document. </p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">11. Changes to our privacy policy</h1> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;"> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> Our business changes constantly, and our Privacy Policy may therefore also need to change. We will post the current version of this Privacy Policy on the Mobile and Web Application and each such change will be effective when posted on the Mobile and Web Application on the date designated by us as the “effective date”. </p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> It is your obligation to regularly check the Privacy Policy. Your continued use of the Mobile and Web Application following any such change constitutes your agreement to this Privacy Policy as so modified.</p></div></div> -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;">  -->
	 <!-- <h1 style="width:100%;height:auto;font-size:20px;font-weight:500;color:#220E0E;line-height:24px;margin-bottom:20px;">12. Contact</h1>  -->
	 <!-- <div style="width:100%;height:auto;padding:0 0;"> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> If you have any concerns about your Information on the Mobile and Web Application, please contact us with a thorough description, and we will try to resolve it. Our customer service contact details are:</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> Email: info@reddotfoundation.org</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> Address: 5217 Lightning View Road, Columbia, Maryland, 21045, USA</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> Website: www.safecity.in</p> -->
	 <!-- <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:10px;background-image: url(/assets/images/icons/dot.svg);background-size:6px;background-repeat:no-repeat;background-position: 4px 7px;padding-left:20px;"> You can find our App Privacy Policy here</p> -->
	 <!-- </div> -->
	 <!-- </div> -->
	 
	 <!-- <div class="newarea">
	<h1>1. Introduction</h1>
	<div class="newtext">
 <p> This Privacy Policy sets out the basis on which any personal data and other information we collect from you or other sources or that you provide to us (“<b>Information</b>”) will be handled by us in connection with your access and use of the Safecity mobile and web application.We understand the importance you, as a user of our application, place on the Information provided to us, and we are committed to protecting and respecting your privacy. Please read the following carefully to understand our practices regarding your Information. 
 </p>
 <p>By using our Mobile and Web Application, you agree to the handling of your Information in accordance with this Privacy Policy. </p>
  <p>References in this Privacy Policy to “<b>we</b>”, “<b>our</b>” or “<b>us</b>” (or similar) are references to Red Dot Foundation Global, a not-for-profit organization registered in the United States under license number EIN 82 - 1206435, with its office located at 5217 Lightning View Road, Columbia, Maryland, 21045 in the United States. References to “user” or “you” (or similar) are references to you as an individual or legal entity as the case may be.</p>

</div>
	
  	 </div>
	 	 <div class="newarea">
	<h1>2. Safecity mobile and web application data collection and use
</h1>
	<div class="newtext">
	<h4>information we may collect from you if you are reporting using our mobile and web application.</h4>
 <p> We may collect and process the following personal information about you.</p>
 <p class="newside">(a) Your age; but if you report that you are under 18, you will not be able to enter information on the app because we only collect information from adults. Except that your attempt to create a report, will be kept as a part of our data. 
</p>
  <p class="newside">(b) Your gender;</p>
<p>We may collect and process the following non-personal information about you.</p>
<p class="newside">	(a) general, demographic and non-personal Information through your incident report.</p>
<p class="newside">	(b) details about your location if you choose to access help information and your mobile device, including a unique identifier for your device, and any location you provide in your report; </p>
<p class="newside">	(c)  details about your device, including operating system and browser type can be captured by Google analytics
 </p>
 <p class="newside">(d)  any other Information we consider necessary to facilitate your experience on the Mobile and Web Application but only if it furthers the purposes of mapping incidents or conducting research.
 </p>
 
</div>
	
  	 </div>
	  	 <div class="newarea">
	<h1>3. Use of your information reported through our mobile and web application
</h1>
	<div class="newtext">
	 <p> We may use Information you have provided in your report in the following ways:</p>
 <p class="newside">(a) We use your Information to generate anonymous, de-identified data for research purposes.</p>
  <p class="newside">(b) We use the location information you provide to generate maps of incidents you report. </p>
<p class="newside">(c) We may use any additional information you provide to help you use the support services contained in the Mobile and Web Application.  You will have an opportunity to delete this information from your mobile device once you have finished using the support services. 
</p>

</div>
	
  	 </div>
	 
	   	 <div class="newarea">
	<h1>4. Disclosure of your information </h1>
	<div class="newtext">
	 <p> When you decide to make a report about an incident, you will only be asked to provide anonymous information about yourself and the information about the incident. We use information collected from all reporters to generate aggregate, de-identified data for research purposes.  The resulting data from this process is our data. </p>
 <p class="newside">(a) Using our data, we have the right to compile, combine, collect, copy, modify, reuse and repurpose, publish and use this data for analytical and other business purposes.</p>
  <p class="newside">(b) Our data is also available as an open source research repository for groups that wish to conduct a study using our data.</p>
<p class="newside">(c) Any group wishing to use our data are required to register with us, request to use the data, provide a statement regarding purpose of using our data, and make assurances that they will adhere to our consent, privacy, confidentiality and data storage and security policies before they are given access to our data.  </p>

</div>
	
  	 </div>
	 
	    	 <div class="newarea">
	<h1>5. Information we may collect from you if you seek assistance through our mobile and web application</h1>
	<div class="newtext">
	 <p> If you seek the following additional services, we may collect additional information to provide the information you request.</p>
 <p class="newside">(a) Information you provide us, or that we may collect from you, when you report a problem with our Mobile and Web Application;
</p>
  <p class="newside">(b) a record of correspondence if you contact us;</p>
<p class="newside">(c) details about your location and your mobile device, including a unique identifier for your device if you are seeking to get additional location information; </p>
<p class="newside">(d) details about your computer, including (where available) your IP address, operating system and browser type, as well as information about your general internet usage (e.g., by using technology that stores information on or gains access to your device, such as tracking pixels, web beacons etc.) and</p>
<p class="newside">(e) any other Information we consider necessary to enhance your experience on the Mobile and Web Application. 
</p>
</div>
	
  	 </div>
	 	    	 <div class="newarea">
	<h1>6. SSpecific research studies</h1>
	<div class="newtext">
	 <p>  From time to time we may launch research studies using either the Mobile  Application or the Web Application.  These studies will have their own informed consent, confidentiality and privacy protections that will be contained in the study recruitment.  You are not obligated to participate in any study.  You must opt-in to any study to be considered.
</p>

</div>
	
  	 </div>
	 
<div class="newarea">
	<h1>7. Required disclosure of information </h1>
	<div class="newtext">
	 <p>  We may be compelled to release information when we believe such a release is appropriate and necessary to comply with the law and law enforcement investigations and to protect the rights, property or safety of our company, our users or others. However, this does not include selling, renting, sharing, or otherwise disclosing information set forth in this Privacy Policy.

</p>

</div>
	
  	 </div>
	 <div class="newarea">
	<h1>8. Storage of your information</h1>
	<div class="newtext">
	 <p> We store information gathered from our Mobile and Web Application in the same database and the information gathered from our website in a different database.</p>
<p> The Information that we collect from you is stored in the United States and if you are outside of the United States, such Information will be transferred from your location to our servers in the United States. You hereby expressly consent to such transfer of your Information to our servers in the United States.
</p>
<p> The Information that we may collect from you may also be processed by our staff and volunteers operating outside of the United States. Such staff may be engaged in, among other things, the management of the Mobile and Web Application and the provision of support services. Such staff will process Information in accordance with this Privacy Policy.
</p>
</div>
	
  	 </div>
	 
	 	 <div class="newarea">
	<h1>9. Security</h1>
	<div class="newtext">
	 <p> We take reasonable steps to ensure that your Information is treated securely and in accordance with this Privacy Policy. We may, for example, use encryption technology to secure your Information during transmission to our Mobile and Web Application as well as external firewall and on-host firewall technology to prevent network level attacks.  </p>
<p> If you complete an incident report, it is important for you to not to provide overly detailed descriptions of the incident.  Very detailed reports may increase the likelihood of you being identified despite our efforts to keep the anonymous information you reported from being identified. 
</p>
<p> Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your Information, we cannot guarantee the security of your Information transmitted to our Mobile Application; any transmission is at your own risk.  

</p>
</div>
	
  	 </div>
	 
	 	 	 <div class="newarea">
	<h1>10. Accessing and amending your information gathered from our mobile and web application
</h1>
	<div class="newtext">
	 <p> It would be extremely unlikely that you are able to identify your information as erroneous data from the anonymous data you provide and/or the aggregate data that we maintain, and therefore, we can only provide limited access for you to correct data that you believe is wrong and we may not be able to accommodate your request.</p>
<p> We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others or would be extremely impractical (for instance, requests concerning information residing on backup systems).
</p>
<p> If your Information has been aggregated and/or de identified, it may be next to impossible to remove your data from the whole.  If you want to have your information removed, you must contact us.  
</p>
<p> Where we can provide Information access and correction, we will charge you a fee of £10 to meet our costs in providing you with details of the information we hold about you.  
</p>
<p> We aim to maintain our Mobile and Web Application in a manner that protects Information from accidental or malicious destruction and for future research purposes. Because of this, we may not immediately delete residual copies from our active servers, may not remove Information from our backup systems, and may keep information for research purposes.  Research conducted using this data will be evaluated according to the guidelines in 6.1 of this document. </p>
</div>
	
  	 </div>
	 
	 	 	 	 <div class="newarea">
	<h1>11. Changes to our privacy policy
</h1>
	<div class="newtext">
	 <p> Our business changes constantly, and our Privacy Policy may therefore also need to change. We will post the current version of this Privacy Policy on the Mobile and Web Application and each such change will be effective when posted on the Mobile and Web Application on the date designated by us as the “effective date”. </p>
<p> It is your obligation to regularly check the Privacy Policy. Your continued use of the Mobile and Web Application following any such change constitutes your agreement to this Privacy Policy as so modified.
</p>

</div>
	
  	 </div>
	 
	 	 	 	 	 <div class="newarea">
	<h1>12. Contact
</h1>
	<div class="newtext">
	 <p> If you have any concerns about your Information on the Mobile and Web Application, please contact us with a thorough description, and we will try to resolve it. Our customer service contact details are:
</p>
<p class="newtext"> Email: info@reddotfoundation.org</p>
<p class="newtext"> Address: 5217 Lightning View Road, Columbia, Maryland, 21045, USA
</p>
<p class="newtext"> Website: www.safecity.in</p>
<p class="newtext"> You can find our App Privacy Policy here</p>
</div>
	
  	 </div> -->
	 </ion-col>
   </ion-row>
</div>
</ion-content>
