<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="undefined" text="" class="backbutton"></ion-back-button>

        </ion-buttons>
        <ion-title>
            <div>{{title}}</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="maindomestic">
        <ion-row>
            <ion-col size="12">
                <div class="newlogic" [innerHTML]="content">


                    <!-- <div class="newlogic" > -->

                </div>
                <!-- <ion-col size="12"> -->
                <!-- <div class="newtext"> -->
                <!-- <h2>Which sections of the law address this crime?</h2> -->
                <!-- <h4>Domestic Violence – Section 498A of the IPC and Domestic Violence Act, 2005</h4> -->
                <!-- <h4>Assault or criminal force to woman with intent to outrage her modesty - Section 354 of the IPC</h4> -->
                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h2> How is domestic violence defined under the IPC? </h2> -->
                <!-- <p> Husband or relative of the husband of a woman subjecting her to cruelty — Whoever, being the husband or the relative of the husband of a woman, subjects such woman to cruelty shall be punished with imprisonment for a term which may extend to three years and shall also be liable to fine.</p> -->
                <!-- <p>Explanation. — For the purposes of this section, “cruelty” means—</p> -->
                <!-- <h6>(a) any wilful conduct which is of such a nature as is likely to drive the woman to commit suicide or to cause grave injury or danger to life, limb or health (whether mental or physical) of the woman; or -->
                <!-- </h6> -->
                <!-- <h6>(b) harassment of the woman where such harassment is with a view to coercing her or any person related to her to meet any unlawful demand for any property or valuable security or is on account of failure by her or any person related to her to meet such demand. -->
                <!-- </h6> -->
                <!-- </div> -->

                <!-- <div class="newtext"> -->
                <!-- <h2>What is the punishment for Domestic Violence under the IPC? -->
                <!-- </h2> -->
                <!-- <p>Imprisonment for 3 years and a fine</p> -->
                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h2>How is assault or criminal force to a woman with intent to outrage her modesty defined under the IPC?</h2> -->
                <!-- <h4>Assault or use of criminal force to any woman -->
                <!-- </h4> -->
                <!-- <h4>Intention to outrage or knowing it to be likely that he will thereby outrage her modesty</h4> -->
                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h2>What is the punishment for assault or criminal force to a woman with intent to outrage her modesty under the IPC?</h2> -->
                <!-- <p> Imprisonment for a term which may extend to two years, or with fine, or with both.</p> -->

                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h5>information visit : <span -->
                <!-- class="newlink">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span> -->
                <!-- </h5> -->
                <!-- </div> -->

                <!-- <div class="newtext"> -->
                <!-- <h2>Which sections of the law address this crime?</h2> -->
                <!-- <h4>Online Stalking - Section 354D of the IPC </h4> -->
                <!-- <h4>Defamation (remarks on social media, obscene images or videos posted for public consumption) - Section 499 of the IPC</h4> -->
                <!-- <h4>Intimidating a woman by anonymous communication - Section 507 of the IPC</h4> -->
                <!-- <h4>Posting lewd comments against the will of a woman/requesting sexual favours (Sexual Harassment) - Section 354A of the IPC</h4> -->
                <!-- <h4>Transmitting / publishing obscene material in an electronic form - Information Technology Act, 2000 (IT Act) (Section 67) </h4>    -->
                <!-- <h4>Publishing an image of a person in print/electronic form resulting in a violation of the privacy of the individual - Information Technology Act, 2000 (IT Act) (Section 66E) -->
                <!-- </h4>   -->
                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h2> How is stalking defined under the IPC?</h2> -->
                <!-- <p> Section 354D of the IPC criminalises stalking of a woman by a man. It defines the Act to include continuous following or contacting a woman by a man or attempts to contact a woman to build a personal relationship with that woman even when the woman has shown a clear lack of interest. It also includes acts of monitoring a woman’s electronic communication, i.e. communication over emails, social media etc. -->
                <!-- </p> -->
                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h2> When is stalking not considered a crime?</h2> -->
                <!-- <p> Stalking is not considered a crime if it is done as a legal duty for prevention and detection of crime by the State or under any legal duty imposed by a law in practise or in a situation where such an act of stalking is seen as reasonable and justified. -->
                <!-- </p> -->
                <!-- </div> -->
                <!-- <div class="newtext"> -->
                <!-- <h2>What is the punishment?</h2> -->
                <!-- <h4>Online Stalking - During the first conviction, imprisonment may extend to 3 years and fine, during second/subsequent conviction, imprisonment upto 5 years and fine</h4> -->
                <!-- <h4>Defamation (remarks on social media, obscene images or videos posted for public consumption) - Imprisonment upto 2 years</h4>  -->
                <!-- <h4>Intimidating a woman by anonymous communication - Imprisonment upto 2 years</h4>  -->
                <!-- <h4>Posting lewd comments against the will of a woman/requesting sexual favours (Sexual Harassment) - Imprisonment upto 3 years and fine</h4>  -->
                <!-- <h4>Publishing an image of a person in print/electronic form resulting in a violation of the privacy of the individual - Imprisonment upto 3 years and fine</h4>    -->
                <!-- </div> -->


            </ion-col>
        </ion-row>
    </div>
</ion-content>