
	.nointernet
	{
    position:absolute;
	    margin: 0 auto;
    top: 40%;
   left:5%;
   right:5%;
	text-align:center;

	}
	
	.nointernet img
	{
	text-align:center;
		    margin: 0 auto 15px;
	}
	
		.nointernet p{
		width:100%;
		font-size:16px;
		font-weight:500;
		color:#292020;
			text-align:center;
		    margin: 0 auto;
 
		}