<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button defaultHref='/ipc' icon="undefined" text=""  class="backbutton"></ion-back-button>
 
  </ion-buttons>
    <ion-title><div class="ion-text-wrap">Sexual Invites </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mainareain">
<ion-row >
      <ion-col size="12">
<div class="newtext"><h2>Which sections of the law address this crime?</h2><h4>Theft - Section 378 of the IPC</h4><h4>Physical assault - Section 352 and 354 (with intent to outrage women's modesty) of the IPC</h4> </div><div class="newtext"><h2>What is the punishment for theft under the IPC?</h2><p>Imprisonment upto 3 years and/or fine</p></div><div class="newtext"> <h5>information visit : <span class="newlink">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span></h5></div>
    </ion-col>
   </ion-row>
   </div>
</ion-content>
