<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button  icon="undefined" text=""  class="backbutton"></ion-back-button>
   </ion-buttons>
    <ion-title>{{'donate'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="maindonate">
<ion-row>
     <ion-col col-12>
	 <div class="newdonate"  [innerHTML]="content" >
	 <!-- <h2 style="width:100%;height:auto;font-size:18px;font-weight:500;color:#220E0E;margin-bottom:20px;">Donate to Safecity</h2>
	 <p style="width:100%;height:auto;font-size:16px;line-height:24px;font-weight:400;margin-bottom:40px;">Please support our work by donating through any of these channels.</p>
	 <h5 style="width:100%;height:auto;font-size:14px;line-height:24px;font-weight:400;color:#592D8D;text-decoration:underline; margin-bottom:8px;"><a target="_blank" rel="noopener noreferrer" href="https://secure.actblue.com/donate/red-dot-foundation-global-1">Act Blue</a></h5>
	 <h5 style="width:100%;height:auto;font-size:14px;line-height:24px;font-weight:400;color:#592D8D;text-decoration:underline; margin-bottom:8px;"><a target="_blank" rel="noopener noreferrer" href="https://www.globalgiving.org/projects/safecircle-for-survivors-of-domestic-violence/">Global Giving</a></h5>
	 <h5 style="width:100%;height:auto;font-size:14px;line-height:24px;font-weight:400;color:#592D8D;text-decoration:underline; margin-bottom:8px;"><a target="_blank" rel="noopener noreferrer" href="https://safecity.in/donate-now/">If you live in India, Click Here to Donate</a></h5>
	 <h5 style="width:100%;height:auto;font-size:14px;line-height:24px;font-weight:400;color:#592D8D;text-decoration:underline; margin-bottom:8px;"><a target="_blank" rel="noopener noreferrer" href="https://reddotfoundation.org/">If you live outside India, Click Here to Donate</a></h5>
	   -->
	 </div>
	 </ion-col>
   </ion-row>
</div>
</ion-content>
