<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button defaultHref='/ipc' icon="undefined" text=""  class="backbutton"></ion-back-button>
 
  </ion-buttons>
    <ion-title><div class="ion-text-wrap">Stalking</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mainareain">
<ion-row >
      <ion-col size="12">
	  <div class="newlogic" >
 <div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">Which sections of the law address this crime?</h2>
<h4 style="width:100%;height:auto;font-weight:400;color:#292020;font-size:16px;line-height:24px;padding-left:0;margin-bottom:2px;margin-top:10px;">Stalking – Section 354D of the IPC</h4> 
</div>
<div style="width:100%;height:auto;padding:0 0px;text-align:left;color:#220E0E;margin-top:0;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">How is stalking defined under the IPC? </h2>
<p style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px;"> Section 354D of the IPC criminalises stalking of a woman by a man. It defines the Act to include continuous following or contacting a woman by a man or attempts to contact a woman to build a personal relationship with that woman even when the woman has shown a clear lack of interest. It also includes acts of monitoring a woman’s electronic communication, i.e. communication over emails, social media etc.</p></div>
<div style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;"> What is the punishment of stalking under the IPC? </h2>
<p style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px"> First time offenders are punished with either simple or rigorous imprisonment of upto 3 years and a fine while repeated offenders are punished with simple or rigorous imprisonment of upto 5 years and a fine.</p></div>
<div style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px;">
<h2 style="width:100%;height:auto;font-weight:500;color:#592D8D;font-size:16px;line-height:24px;margin-bottom:2px;">When is stalking not considered a crime?</h2>
<p style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px"> Stalking is not considered a crime if it is done as a legal duty for prevention and detection of crime by the State or under any legal duty imposed by a law in practise or in a situation where such an act of stalking is seen as reasonable and justified.</p></div>
<div style="width:100%;height:auto;line-height:24px;color:#292020;margin-top:5px;margin-bottom:12px"> 
<h5 style="width:100%;height:auto;float:left;font-size:16px;color:#292020;">information visit : <span style="color:#1343C4;font-size:16px;">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span></h5></div>
 </div>
    </ion-col>
   </ion-row>
   </div>
</ion-content>
