<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
   <ion-back-button defaultHref='/ipc' icon="undefined" text=""  class="backbutton"></ion-back-button>
 
  </ion-buttons>
    <ion-title><div class="ion-text-wrap">Catcalls / Whistles </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mainareain">
<ion-row >
      <ion-col size="12">
<div class="newtext">
<h2>Which sections of the law address this crime?</h2>
<h4>Eve Teasing (word, gesture or act intended to insult the modesty of a women) - Section 509 of the IPC
</h4>
   </div>
   <div class="newtext">
<h2>What is the punishment under the IPC?</h2>
<p>Simple imprisonment for a term which may extend to three years, and also with fine
</p>
   </div>
   
    <div class="newtext">
   <h5>information visit : <span class="newlink">https://safecity.in/sexual-violence-laws-under-the-indian-penal-code/</span>
</h5>
</div>
   
         </ion-col>
      </ion-row>
   </div>
</ion-content>